@model IEnumerable<DevWebReceitas.Application.Dtos.Receita.ReceitaDto>

<div id="divListaReceitas">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ingredientes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModoPreparo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ingredientes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModoPreparo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria.Titulo)
                    </td>
                    <td>

                        <partial name="_LikesDislikes" model="@item" />

                        <p>
                            @Html.ActionLink("Editar", "Edit", new { codigo = item.Codigo }, new { @class = "btn btn-sm btn-warning" }) |
                            @Html.ActionLink("Detalhes", "Details", new { codigo = item.Codigo }, new { @class = "btn btn-sm btn-info" }) |
                            @Html.ActionLink("Excluir", "Delete", new { codigo = item.Codigo }, new { @class = "btn btn-sm btn-danger" })
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>