@model IEnumerable<DevWebReceitas.Application.Dtos.Receita.ReceitaDto>

<div id="divListaReceitas">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ingredientes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModoPreparo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ingredientes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModoPreparo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria.Titulo)
                    </td>
                    <td>

                        <partial name="_LikesDislikes" model="@item" />

                        <p>

                            <a href="@Url.Action("Edit", "Receita", new { codigo = item.Codigo })"
                               title="Editar"
                               class="btn btn-sm btn-warning">
                                <i class="fa fa-edit"></i>
                            </a>|

                            <a href="@Url.Action("Details", "Receita", new { codigo = item.Codigo })"
                               title="Detalhes"
                               class="btn btn-sm btn-info">
                                <i class="fa fa-eye"></i>
                            </a>|

                            <a href="@Url.Action("Delete", "Receita", new { codigo = item.Codigo })"
                               title="Excluir"
                               class="btn btn-sm btn-danger">
                                <i class="fa fa-trash-alt"></i>
                            </a>
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>